<div class="{{ui.container}}">
    <div class="{{ui.content}}">
        <h1 class="{{::ui.logo}}">ProtonMail</h1>
        <p>
            <a class="{{ui.fluo}}">CSS Modules</a>
        </p>
        <div class="{{ui.alps}}"></div>
    </div>
    <footer class="{{::ui.reveal}}">
      <p>Protected by strict Swiss privacy laws.</p>
    </footer>
</div>
